<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= farm.name %>
    </title>
</head>

<body>
    <h1>
        <%= farm.name %>

    </h1>
    <ul>
        <li>city: <%= farm.city %>
        </li>
        <li>email: <%= farm.email %>
        </li>
        
    </ul>
    
    <h2> Products: </h2>
        <ul>       
                <% for( let product of farm.products) { %>
                    <li>
                        <a href="/products/<%= product._id %>"><%= product.name %></a> 
                      
                    </li>
                    <% } %>
            
        </ul>
       
    
    <form action="/farms/<%= farm._id %>?_method=DELETE" method='POST'>
        <button>
            Delete Farm
        </button> 
    </form>
    <a href="/farms/<%= farm._id %>/products/new">Add Product</a>
    <a href="/farms">Back to all Farms</a>
    
</body>

</html>